absl-py==2.1.0
accelerate==0.30.1
aggdraw==1.3.18.post0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
asgiref==3.8.1
astunparse==1.6.3
attrs==23.2.0
bardapi==1.0.0
bentoml==1.1.11
bitsandbytes==0.41.3.post2
blinker==1.7.0
Brotli==1.1.0
browser-cookie3==0.19.1
build==0.10.0
cachetools==5.3.3
cattrs==23.1.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
circus==0.18.0
click==8.1.7
click-option-group==0.5.6
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.1
crypto==1.4.1
cryptography==42.0.5
cycler==0.12.1
dataclasses-json==0.6.6
datasets==2.19.1
deepmerge==1.1.1
Deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
distro==1.9.0
ecdsa==0.19.0
einops==0.8.0
fastcore==1.5.35
filelock==3.14.0
filetype==1.2.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fs==2.4.16
fsspec==2024.3.1
g4f==0.3.1.0
gast==0.5.4
ghapi==1.0.5
google-ai-generativelanguage==0.6.2
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-pasta==0.2.0
googleapis-common-protos==1.63.0
gpt4all==2.6.0
greenlet==3.0.3
grpcio==1.62.2
grpcio-status==1.62.2
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.0
humanfriendly==10.0
hyperframe==6.0.1
idna==3.7
importlib-metadata==6.11.0
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.3
jsonpatch==1.33
jsonpointer==2.4
keras==3.2.1
kiwisolver==1.4.5
langchain-text-splitters==0.0.1
libclang==18.1.1
llamaapi==0.1.36
loguru==0.7.2
lz4==4.3.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.8.4
mdurl==0.1.2
ml-dtypes==0.3.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
Naked==0.1.32
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
nvidia-ml-py==11.525.150
ollama==0.2.0
openllm==0.4.44
openllm-client==0.4.44
openllm-core==0.4.44
opentelemetry-api==1.20.0
opentelemetry-instrumentation==0.41b0
opentelemetry-instrumentation-aiohttp-client==0.41b0
opentelemetry-instrumentation-asgi==0.41b0
opentelemetry-sdk==1.20.0
opentelemetry-semantic-conventions==0.41b0
opentelemetry-util-http==0.41b0
opt-einsum==3.3.0
optimum==1.19.2
optree==0.11.0
orjson==3.10.3
packaging==23.2
pandas==2.2.2
pathspec==0.12.1
pefile==2023.2.7
pillow==10.3.0
pip-requirements-parser==32.0.1
pip-tools==7.3.0
platformdirs==4.2.1
plotly==5.21.0
prometheus_client==0.20.0
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
pyarrow==16.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic_core==2.18.2
Pygments==2.17.2
pyparsing==3.1.2
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
redis==5.0.3
regex==2024.5.10
requests==2.31.0
rich==13.7.1
rsa==4.9
safetensors==0.4.3
schema==0.7.7
scipy==1.13.0
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==69.2.0
shellescape==3.8.1
simple-di==0.1.5
six==1.16.0
sniffio==1.3.1
spotipy==2.23.0
SQLAlchemy==2.0.30
starlette==0.37.2
sympy==1.12
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
tokenizers==0.19.1
torch==2.2.2
tornado==6.4
tqdm==4.66.4
transformers==4.40.2
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.29.0
virtualenv==20.26.1
visualkeras==0.0.2
watchfiles==0.21.0
Werkzeug==3.0.2
wheel==0.43.0
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.18.1
