body {
  height: 100vh;
  display: grid;
  margin: 0;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "side header"
    "side main";
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #2c2c2c;
  grid-area: header;
}

.header-element {
  padding: 10px;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: #212121;
  grid-area: side;
  width: 300px;
  height: 100%;
  position: fixed;
  overflow-y: auto;
}

.sidebar-element {
  color: white;
  display: flex;
  justify-content: center;
}

.sidebar-element a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: white;
  padding: 6%;
}

.sidebar-element a:hover {
  color: #1db954;
}

.material-icons-outlined {
  margin-right: 10px;
  color: white;
}

.logo-img,
img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.time-range {
  color: white;
  margin-left: 30px;
  font-weight: 500;
}

.sidebar-element {
  padding: 20px;
  cursor: pointer;
}

.track-image {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;

  vertical-align: middle;
}

.fetch {
  margin-bottom: 1rem;
}

#fetch-options {
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: #f2f2f2;
  border: none;
  margin-right: 1rem;
}

#top-tracks-table {
  width: 95%;
  max-height: calc(89% - 0.8rem);
  background-color: rgba(78, 78, 78, 0.333);
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
  text-align: center;
}

#top-tracks-table,
th,
td {
  padding: 1rem;
  color: white;
}

table {
  width: 100;
}

#top-tracks-table::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

#top-tracks-table::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

#top-tracks-table:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.main {
  background-color: #2c2c2c;
  padding: 25px;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inst-heading {
  color: white;
  font-size: 40px;
  margin-left: 20px;
}

.inst-paragraph {
  color: white;
  font-size: 20px;
  margin-left: 30px;
}

.top-tracks-list li img {
  width: 100px;
}

.play-button {
  transition: 0.7s;
  top: 50%;
  background-color: #13230a;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add-to-playlist-button {
  transition: 0.7s;
  top: 50%;
  background-color: #13230a;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add-to-playlist-button:hover {
  background: #1db954;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #1db954, 0 0 25px #1db954, 0 0 50px #1db954,
    0 0 60px #1db954;
}

.play-button:hover {
  background: #1db954;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #1db954, 0 0 25px #1db954, 0 0 50px #1db954,
    0 0 60px #1db954;
}

@media (max-width: 925px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 200px);
    grid-template-areas: initial;
  }
}
