<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"rel="stylesheet">
    <link rel="stylesheet" href="/static/home.css">
    <title>Spotify</title>
</head>
<body>
    <header class="header">
        <div class="header-element">
            <span class="material-icons-outlined">search</span>
            <span id="profile-icon" class="material-icons-outlined">person</span>
        </div>
    </header>

    <section class="sidebar">
        <p class="logo">Spotify</p>
        <div class="sidebar-element">
            <span class="material-icons-outlined">dashboard</span> Dashboard
        </div>
        <div class="sidebar-element">
            <span class="material-icons-outlined">audiotrack</span> Top Songs
        </div>
        <div class="sidebar-element">
            <span class="material-icons-outlined">people</span> Top Artists
        </div>
        <div class="sidebar-element">
            <span class="material-icons-outlined">theater_comedy</span> Top Genres
        </div>
        <div class="sidebar-element">
            <span class="material-icons-outlined">logout</span> Log out
        </div>
    </section>

    <main class="main">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </main>

    <script src="/scripts/home.js"></script>
</body>
</html>