<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="/static/images/spotify_logo.png">
            </div>
            <span class="logo_name">Spotify</span>

        </div>

        <div class="menu menu-items">
            <ul class="nav-options">
                <li>
                    <a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-music"></i>
                        <span class="link-name">Top Songs</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-head-side"></i>
                        <span class="link-name">Top Artists</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-music-note"></i>
                        <span class="link-name">Top Genres</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-smile"></i>
                        <span class="link-name">Personality Checker</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-user"></i>
                        <span class="link-name">Profile</span>
                    </a>
                </li>
            </ul>
        </div>

    </nav>

    <script src="/scripts/home.js"></script>
</body>
</html>