<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login with Spotify</title>
    <link rel="stylesheet" href="/static/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="login-box">
      <h2>Login</h2>
      <p>
        <small
          >If you click to the button below, you accept that your data is stored
          anonymously for learning purposes.</small
        >
      </p>
      <form>
        <a href="{{auth_url}}">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-spotify" style="font-size: 30px"></i>
          Grant access to Spotify
        </a>
      </form>
    </div>
  </body>
</html>
