<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/static/top_artists.css">
    <title>Top Artists</title>
</head>
<body>
    <header class="header">
        <div class="header-element">
            <span class="material-icons-outlined">search</span>
            <span id="profile-icon" class="material-icons-outlined">person</span>
        </div>
    </header>

    <section class="sidebar">
        <div class="logo-img">
            <img src="/static/images/statify_logo_cropped.png" alt="statify_logo">
        </div>
        <div class="sidebar-element">
            <a href="http://localhost:8000/home">
                <span class="material-icons-outlined">dashboard</span>
                Dashboard
            </a>
            
        </div>
        <div class="sidebar-element">
            <a href="http://localhost:8000/top-songs">
                <span class="material-icons-outlined">audiotrack</span>
                Top Songs
            </a>
        </div>
        <div class="sidebar-element">
            <a href="http://localhost:8000/top-artists">
                <span class="material-icons-outlined">people</span>
                Top Artists
            </a>
            
        </div>
        <div class="sidebar-element">
            <a href="http://localhost:8000/top-genres">
                <span class="material-icons-outlined">theater_comedy</span>
                Top Genres
            </a>
        </div>
        <div class="sidebar-element">
            <a href="http://localhost:8000/discover">
                <span class="material-icons-outlined">headset</span>
                Discover Songs
            </a>
        </div>
        <div class="sidebar-element">
            <a href="http://localhost:8000/logout">
                <span class="material-icons-outlined">logout</span>
                Log Out
            </a>
        </div>
    </section>

    <main class="main" id="main">
        <div class="container"> 
            <div class="instructions">
                <b class="inst-heading">Top 10 Artists</b>
                <p class="inst-paragraph">Here you'll find your top artists in 3 different time intervals. Choose the one you like!</p>
            </div>
            <div class="fetch">
                <b class="time-range">Time range:</b>
                <select id="fetch-options">
                    <option value="short">4 weeks</option>
                    <option value="medium">6 months</option>
                    <option value="long">~1 year</option>
                </select>
            </div>
            <table id="top-artists-table">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Image</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </main>
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const selectElement = document.getElementById("fetch-options");
            const topArtistsTable = document.getElementById("top-artists-table").getElementsByTagName('tbody')[0];
    
            selectElement.addEventListener("change", function () {
                const selectedValue = selectElement.value;
                fetch(`/my-top-artists-${selectedValue}`)
                    .then((response) => response.json())
                    .then((data) => {
                        topArtistsTable.innerHTML = ""; 
                        if (data.error) {
                            const errorRow = topArtistsTable.insertRow();
                            const errorCell = errorRow.insertCell();
                            errorCell.colSpan = 3;
                            errorCell.textContent = `Error: ${data.error}`;
                        } else {
                            data.items.forEach((artist, index) => {
                                const artistRow = topArtistsTable.insertRow();
                                const positionCell = artistRow.insertCell();
                                positionCell.textContent = index + 1;
                                const artistImageCell = artistRow.insertCell();
                                const artistImage = document.createElement("img");
                                artistImage.src = artist.images[0].url;
                                artistImage.alt = `${artist.name} image`;
                                artistImage.classList.add("artist-image");
                                artistImageCell.appendChild(artistImage);
                                const artistNameCell = artistRow.insertCell();
                                const artistName = document.createElement("p");
                                artistName.textContent = artist.name;
                                artistName.classList.add("artist-name");
                                artistNameCell.appendChild(artistName);
                            });
                        }
                    })
                    .catch((error) => {
                        console.error("Error fetching top artists:", error);
                    });
            });
            selectElement.dispatchEvent(new Event("change"));
        });
    </script>
    
</body>
</html>
